@{
    ViewData["Title"] = "Register Page";
}

<!-- start of banner -->
<div class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <h1 class="mb-5">Brewed to Perfection<br>  Uncover the Best Coffee Spots Around</h1>
            </div>
        </div>
    </div>
</div>
<!-- end of banner -->

<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <div class="login-register-form">
                    <h2>Register</h2>
                    <form method="post" action="/Account/Register">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Choose a username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                        </div>
                        <button href="@Url.Action("Login", "Home")" type="submit" class="btn btn-primary" href="@Url.Action("Login", "Home")">Register</button>
                        <div class="mt-3">
                            <a href="@Url.Action("Login", "Home")">Already have an account? Login here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
