<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <a class="nav-link" asp-controller="Admin" asp-action="UsersAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
        <a class="nav-link" asp-controller="Admin" asp-action="ReviewsAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reviews</a>
        <a class="nav-link" style="margin-top: 50px;" asp-controller="Home" asp-action="Index" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Back to Homepage</a>
    </div>

    <div class="main-content">
		@RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
